{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h2>Index Page</h2>
    
    <div>
        {% for p in posts %}
        <div>
            <div>
                <p>{{p.user.username}}</p>
                <a href="{% url 'detail' p.slug %}">
                    <p>{{p.title}}</p>
                </a>
            </div>
            <div>
                <img height="300px" width="300px" src="{{p.images.url}}" alt="">
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>